@tailwind base;
@tailwind components;
@tailwind utilities;

/*Componente Header*/
  .header{
    margin: 5%;
    margin-top: 1%;
    display: flex;
    border-radius: 20px;
    background-color: #00375F;
    color: white;
    padding: 15px;
    position: fixed;
    width: 90%;
    justify-content: space-between;
    transition: 0.5 s;
    box-sizing: border-box;
    top: 0;
    left: 0;
  }

  .logo{
    width: 20%;
    height: 10%;
  }
  .button-container {
    display: flex;
    gap: 10px;
  }
  .header-button {
    background-color: #009CA3;
    font-size: 15px;
    border-radius: 10px;
    margin-right: 40px;
    margin-top: 3px; 
    color: white; 
    border: none;
    padding: 10px;
    min-width: 40px;
    min-height: 10px;
    cursor: pointer;
    align-items: center;
  }
/*Layout*/
.content {
  margin: 20px;
  margin-top: 100px;
  background-color: white;
  opacity: 70%;
}
/*Main*/
#Main{
  margin: 7%;
  background-color: #009CA3;
  color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

/*Footer*/
.footer{
  background-color: #009CA3;
  border-top: 2px solid white;
  margin: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px ;
  width: auto;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.logosFooter{
  display:flex;
  padding: 20px;
  margin-left: 3.5%;
  width: 20%;
  height: 20%;
}

.ContactUs{
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

/*Formulario*/
.ContactFormulario{
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Formulario{
  border: 5px solid #00375F;
  border-radius: 20px;
  background-color: white;
  color: #000000;
  margin: 2.5%;
  width: 80%;
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Description{
  width: 50%;
  height: 150px;
  box-sizing: border-box;
  font-size: 16px;
  resize: none;
}

.ButtonSend{
  background-color: #009CA3;
  border-radius: 20px;
  color: white; 
  border: none;
  padding: 5px;
  cursor: pointer;
  margin: 20px;
  width: 150px;
}

/*Componente ServiceTarjet*/
.ServiceTarjet{
  margin: 1%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.tittleService{
  border-radius: 5px;
  background-color: #00375F;
  padding: 10px;
  font-size: 20px;
}

.Tarjet {
  border: 2px solid white;
  background-color: white;
  border-radius: 20px;
  flex-basis: calc(33.333% - 20px); 
  padding: 10px;
  margin: 10px;
  width: 150px;
  height: 200px; 
  overflow: hidden;
  box-sizing: border-box;
}
/*---------------------------------------*/
.headerMovil {
  background-color: transparent;
  border-radius: 10px;
  width: 95%;
  min-height: 25%;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  align-items: center;
}
.headerMovilElements{
  border-radius: 10px;
  width: 100%;
  background-color: #00375F;
  display: flex;
  flex-direction: row;
  gap: 20%;
  padding: 5px;
}
.menuMovil{
  background-color: #00375F;
  border-radius: 5px ;
  margin: 10px;
  width: 30px;
  height: 30px;
}
.MenuImg{
  width: 100%;
  height: 100%;
}
.MenuImgX{
  margin: 25%;
  width: 50%;
  height: 50%;
}

.logoMovil {
  min-width: 25%;
  align-items: center;
  height: auto;
}
#worldMovil{
  margin-top: 1%;
  margin-left: auto;
  width: 40px;
  height: 40px;
}
.MenuMobil{
  padding: 20px;
  color: white;
  background-color: #0e2637;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 0px;
  position: absolute;
  top: 60px;
  left: 22px;
  
}
.MenuButtomMovil{
  margin: 5px;
}
/*---------------------------------------*/
@media screen and (max-width: 350px) {
    .headerMovil {
      background-color: transparent;
      border-radius: 10px;
      width: 95%;
      min-height: 25%;
      display: flex;
      flex-direction: column;
      margin-left: 7px;
      align-items: center;
    }
    .headerMovilElements{
      border-radius: 10px;
      width: 100%;
      padding: 5px;
      background-color: #00375F;
      display: flex;
      flex-direction: row;
      gap: 30px;
    }
    .menuMovil{
      background-color: #00375F;
      border-radius: 5px ;
      margin-top: 2.5%;
      width: 30px;
      height: 30px;
    }
    .MenuImg{
      width: 100%;
      height: 100%;
    }
    .MenuImgX{
      margin: 25%;
      width: 50%;
      height: 50%;
    }

    .logoMovil {
  
      min-width: 25%; 
      height: auto;
    }
    #worldMovil{
  
      margin-top: 2.5%;
      width: 35px;
      height: 35px;
    }
    .MenuMobil{
      padding: 20px;
      color: white;
      background-color: #0e2637;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      display: flex;
      flex-direction: column;
      margin: 0px;
      position: absolute;
      top: 68px;
      left: 22px;
      
    }
    .MenuButtomMovil{
      margin: 5px;
    }
}
  @media screen and (max-width: 620px) {
    /* Layout */
    .content {
      padding: 2px;
      margin: 10px;
      margin-top:10px;
    }

    /* Main */
    #Main {
      margin: 2%;
    }

    /* Footer */
    .footer {      
      margin: 5px;
    }

    #Redes{      
      margin-left: -70;
      font-size: 10px;
    }
    #LogoX{
      width: 35px;
      height: 35px;
    }
    #LogoLinkedin{
      width: 35px;
      height: 35px;
    }
    #Contact{
      font-size: 10px;
    }
    #LogoContacUs{
      margin-left: auto;
      width: 47px;
      height: 47px;
    }

    /* Formulario */
    .ContactFormulario {
      margin: 10px;
    }

    .Formulario {
      margin: 2%;
      width: 100%;
    }

    #Description {
      width: 80%;
      font-size: 14px; 
    }

    .ButtonSend {
      width: 100px;
    }

    /* Componente ServiceTarjet */
    #Service{
      display: flex;
      flex-direction: column;
      height: auto;
    }
    #ServiceCards{
      width: 100%;
      height: 100%;
    }
    #article{
      width: 100%;
    }
    .parrafoArticle{
    }
    .ServiceTarjet {
      display: flex;
      flex-direction: column;
      width: 80%;
      min-height: 100px;
      align-items: center;
    }
    .Tarjet {
      width: 200px;
      height: 100px;
    }
}

